{% extends 'secrectfrend/base.html' %}

{% load static %}
{% load i18n %}

{% block content %}


    {% for friend in page_obj %}
        <!-- Post preview-->
        <div class="post-preview">
            <a href="friend.html">
                <h2 class="post-title"><a href="{% url 'friend_detail' pk=friend.pk %}">{% trans friend.get_full_name %}</a></h2>
            </a>
            <p class="post-meta mt-3">
                {% trans "Posted by:" %}
                <b><a href="{% url 'friend_detail' pk=friend.pk %}">{% trans friend.get_username %}</a></b>
            </p>
        </div>
        <!-- Divider-->
        <hr class="my-4 mb-5" />
        <!-- If object_list is empty  -->
    {% empty %} 
    <li>No objects yet.</li> 
    {% endfor %}

        
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
{% endblock content %}
